.navigacioni .navbar-default {
background-color: #151515;
padding-top: 10px;
border-radius: 0;
border-color: #151515;
}

.navigacioni .navbar-header img {
  padding-top: 3px;
}
.navigacioni  .breadcrumb  {
  padding-top: 15px;
  background-color: #151515;
}
 .navigacioni .breadcrumb a{
   padding-right: 15px;
   font-family: 'Raleway', sans-serif;
   text-decoration: none;
   color: #ffffff;
 }
.navigacioni .breadcrumb a:active{
  color: #ffffff;
}
.navigacioni .breadcrumb > li + li:before {
  color: #50b106;
}
/*------------------------------ NAVBAR -----------------------------*/
.slider .carousel-inner {
  margin-top: -20px
}
.second_banner {
  margin-top: 78px;
  margin-bottom: 120px;
}
.second_banner h3 {
  color: #8c8b8b;
  font-family: 'Poiret One', cursive;
  font-weight: 600;
}
.second_banner p {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #8c8b8b;
}

.background_green {
  margin-top: -7px;
  width: 100%;
  height: 42px;
  background-color: #52b106;
}

.background_green p {
  padding-top: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  font-family: 'Raleway';
  color: white;
}
.background_green_two {
  margin-top: -7px;
  width: 100%;
  height: 42px;
  background-color: #52b106;
}
.background_green_two p {
  padding-top: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  font-family: 'Raleway';
  color: white;
}
.profile img {
  margin-top: 70px;
  margin-bottom: 50px;
}

.blockquote_text{
  margin-top: 90px;
}
.blockquote_text p {
  font-size: 18px;
}

blockquote  p {
  color: #8c8b8b;
}

.blockquote_text i {
  color: gray;
}

.para_footer {
  margin-top: 70px;
  margin-bottom: 50px;
}
.para_footer p {
  color: #8c8b8b;
}
iframe {
  border: 2px solid black;
  width: 100%;
  height: 100%;
  border: 0;
}
.navigacioni .navbar-default a:hover {
  color: #51b105;
}

.icon_bg {
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 30px;
    padding: 5px;
    background-color: #e6e6e6;
}
.icon_bg_envelop {
  border: 1px solid #e6e6e6;
  border-radius: 30px;
  padding-right: 5px;
  width: 100%;
  height: 100%;
  background-color: #e6e6e6;
}
.fa {
  color: white;
}
.footer {
  width: 260px;
}
.footer_icon {
  border: 1px solid #e6e6e6;
  border-radius: 40px;
  background-color: #e6e6e6;
}
.footer_icon .fa {
  padding-top: 2px;
}
